.content {
  display: grid;
  grid-template-areas: 'side-bar main-table';
  grid-template-columns: 306px 1fr;
  min-height: 100vh;

  @media (max-width: $desktop-size) {
    grid-template-areas: 'main-table';
    grid-template-columns: 100%;
  }

  @media (max-width: $mobile-size) {
    padding-top: 20px;
  }
}
