.navigation {

  &--hide {
    & .navigation__txt {
      display: none;
    }

    & .navigation__item {
      justify-content: flex-end;
    }

    & .navigation__link {
      padding-left: 9px;
      padding-right: 9px;
    }
  }

  &__item {
    position: relative;
    min-height: 46px;
    margin-bottom: 18px;
    box-sizing: border-box;
    color: var(--text-grey-color);

    &:hover {
      --nav-icon-color: var(--active-color);
      color: var(--active-color);

      & .navigation__chevron {
        transform: translateX(5px);
      }
    }

    &--active {
      --nav-icon-color: #ffffff;
      color: #ffffff;
      background-color: var(--active-color);
      border-radius: 8px;

      &:hover {
        --nav-icon-color: #ffffff;
        color: #ffffff;

        & .navigation__chevron {
          transform: none;
        }
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 14px;
  }

  &__link {
    display: flex;
    align-items: center;
    color: inherit;
    padding: 11px;
  }

  &__txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: inherit;
  }

  &__chevron {
    position: absolute;
    right: 10px;
    width: 10px;
    height: 10px;
    transition: all ease .3s;
  }
}
