.status {

  &--active {
    color: #008767;
    border: 1px solid #00B087;
    background-color: rgba(22, 192, 152, 0.38);
  }

  &--inactive {
    color: #DF0404;
    border: 1px solid #DF0404;
    background-color: #FFC5C5;
  }

  display: block;
  width: 80px;
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  transform: translateY(-4px);
  border-radius: 4px;

  @media (max-width: $mobile-size) {
    transform: translateY(-5px);
  }

  &::first-letter {
    text-transform: uppercase;
  }
}
